{% block body %}
    <div>
        <p>Bonjour,</p>
        <p>Une demande de réinitialisation de mot de passe a été effectuée pour le site <a href="#">???????,</a>. Veuillez cliquer sur le lien suivant pour le réinitialiser :</p>
        <a href="{{ token }}"><p>Changer mon Mot de passe !</p></a>
    </div>
{% endblock %}
