{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center flex-column align-content-center mt-5">
            <div class="col-6">
                <h1>Réinitialisation du mot de passe</h1>
                <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                <form method="post" class="d-flex flex-column">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
                    <input type="hidden" name="token" value="{{ token }}">
                    <button type="submit" id="valider">
                        Valider le mot de passe
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
