{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row text-center">
            <h1>Les biens</h1>
        </div>
        {% for property in properties %}
            <a href="{{ path('property_show', {'slug': property.slug}) }}">
                <div class="card col-3">
                    <table class="cardcontent">
                        <tr>
                            <td style="padding: 7px;">
                                <div class="bluestick" style="background:black;"></div>
                            </td>
                            <td>
                                <strong class="name"> {{ property.name }} - {{ property.city }}</strong>
                                <p class="data">
                                    <span style="color: #666">Nombre de location</span><br>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </a>
        {% endfor %}
            </div>

{% endblock %}
