.building-color, .user-color{
    color: black;
}

.key-color{
    color: #b9981b;
}

.pdf-color{
    color: red;
}

.wallet-color{
    color: #b33f05b5;
}

.leanpub-color{
    color: darkslategray;
}
