#rentReceiptPagination {
    span {
        padding: 0.5rem 1rem;
        border: 1px black solid;
    }

    span:nth-child(1) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    span:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    span.current {
        background-color: black;
        color: white;
    }
    span {
        a{
            color: black;
        }
    }
    span:hover {
        background-color: black;
        a{
        color: white;
        }
    }
}
