<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    {% block stylesheets %}
    {% endblock %}

    {% block header %}
        {% include '_Components/_navbar.html.twig' %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>

{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('navbar') }}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
{% block javascripts %}
{% endblock %}
</html>
