<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    {% block header %}
        {% include 'Components/_navbar.html.twig' %}
    {% endblock %}
    </head>
    <body >
    <section id="content-wrapper">
        {% block body %}
        {% endblock %}
    </section>
    </div>
    </body>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('navbar') }}
        {% endblock %}
</html>
